<div class="container">
    <div class="row">
        <h1>Welcome to Potential Assessment Test</h1>
        <div class="col-md-8 ">
            <div class="card beth">
                <p>Assess your potential Jane,</p>
            
              <br><br>
               <div>
                <span>Start Date:</span>
                <span>5/3/2024</span>
              </div>
              <br><br>
                <div>
              <span>Deadline Date:</span>
               <span>12/3/3034</span>
               <br><br>
               <div> <span>To start the assessment now,click start</span></div>
              </div>
              
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <img src="../../../assets/Analysis-amico.png" class="rounded" alt="">
            </div>
        </div>
        </div>
        <div class="card butt">
          <p>
            <button routerLink="/assess-my-potential" class="btn btn-info start">
              start
            </button>
            <button routerLink="/dashboard" class="btn btn-warning">
              back
            </button>
          </p>
          </div>
    </div>
    
    
