<div class="container-fluid">

      <mat-stepper
        class="example-stepper"
        [orientation]="(stepperOrientation | async)!">
        <mat-step label="Add Attributes for this assessment">
          <app-add-potential-descriptor (newItemEvent)="getAddedAttributes($event)"></app-add-potential-descriptor>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step label="Add Details and Question for this assessment">
          <h6>Assessment Details Section</h6>
          <div class="justify-content-center">
            <div class="header-nav mt-4 mb-2 justify-content-center ">
              <form [formGroup]="assessmentForm">
                  <table class="example-full-width" cellspacing="10"><tr>
                    <td><mat-form-field class="example-full-width mx-1"  style="width: 18vw;">
                      <mat-label>Target Group for this assessment</mat-label>
                      <mat-select
                       formControlName="target">
                        <mat-option *ngFor="let targetgrp of targetGroup" value="targetgrp">
                          {{targetgrp}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width mx-1"  style="width: 15vw;">
                      <mat-label>Attribute to test in this assessment</mat-label>
                      <mat-select
                       formControlName="potentialAttributeId">
                        <mat-option *ngFor="let attr of attributes" [value]="attr.potentialAttributeId">
                          {{attr.potentialAttributeName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width mx-1"  style="width: 15vw;">
                      <mat-label>Assessment Name</mat-label>
                      <input matInput placeholder="Add Assessment Name" formControlName="assessmentName">
                    </mat-form-field></td>
                    <td><mat-form-field>
                      <mat-label>Angular forms</mat-label>
                      <input matInput [matDatepicker]="picker1" formControlName="endDate">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field></td>                    
                  </tr>
                  <tr></tr>
                </table>
                  <div class="">
                    <mat-form-field style="width: 65vw;" class="example-full-width">
                      <mat-label>Assessment Description</mat-label>
                      <textarea matInput formControlName="assessmentDescription"></textarea>
                    </mat-form-field>
                  </div>
              </form>
            </div>
            <br>
            <h6>Assessment Questions Section</h6>
              <form [formGroup]="questionForm" (ngSubmit)="getFormData()" class="mt-1">
            
                <div class="" formArrayName="questionList">
            
                  <div *ngFor="let student of questionListArray().controls; let i = index">
            
                    <div [formGroupName]="i" id="border" class=" my-2 p-3">
                      <input type="text" id="addQuestion" placeholder="Add Question" formControlName="question_description"/>            
                      <button type="button" 
                      *ngIf="questionListArray().length > 1" 
                      (click)="removeQuestion(i)" 
                      class="btn btn-sm btn-danger text-white">
                      <span class="material-icons white600">delete</span>
                      </button>            
                      <div [formGroup]="choicesFormGroup(i)">
            
                        <div formArrayName="questionChoicesArray" class="row">
            
                          <div *ngFor="let choicesub of choicesArray(i).controls; let j = index;">
            
                            <div [formGroupName]="j" class="">
                              <input type="text" class="choice" placeholder="Choice Name, eg choice 1" formControlName="choice_name" />
                              <input type="text" class="choice mx-3"  placeholder="Choice Value" formControlName="choice_value" />
                              <button type="button"
                               *ngIf="choicesArray(i).length > 1" 
                               (click)="removeNewChoice(i, j)" 
                               class="btn btn-sm btn-danger text-white">
                               <span class="material-icons white600">delete</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button" 
                        (click)="addNewSubject(i)" 
                        class="btn btn-sm btn-primary mt-2 d-flex align-items-center text-white">
                        <span class="material-icons white600">add</span>
                         Choice
                      </button>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="addQuestion()" 
                  class="btn btn-sm btn-primary mt-2 mb-2 d-flex align-items-center text-white">
                  <span class="material-icons">add</span>New Question</button>
                <button type="submit" id="qstnsubmit" class="btn btn-md btn-success text-white">Submit</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </form>            
            </div>
   
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Add Anther one</button>
          </div>
        </mat-step>
      </mat-stepper>
</div>

