<div class="container">
    <div class="row vh-25">
        <div class="col-sm-12 topHeader radii d-flex align-items-center justify-content-between">
            <button class="btn">back</button>
                <p class="ms-3">{{title}}</p>
                <button class="btn btn-primary m-3" (click)="openDialog()">Add Assignment</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <p>Manager please evaluate charles</p>
            </div>
            <div class="col-sm-6">
                <p>Charles self Assessment Reselts</p>
            </div>

        </div>
    </div>
</div>
