<div class="container">
    <div class="row">
        <div class="col sm-8">
            <h4>Hello there</h4>
            <p>Assessments help you know Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus molestiae, perspiciatis architecto aperiam quibusdam, id voluptatem beatae, dolorem at laborum veniam? Obcaecati, laudantium tempora? Illum perspiciatis exercitationem saepe aliquam modi.</p>
        </div>
        <div class="col-sm-4 card">
            <h4>Department Statistics</h4>
            <p>Head: {{systemUser.userFullName}}</p>
            <p>Employees: </p>
            <p>Assessments posted: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="w-100 d-flex">
                <button>All Assessments</button>
                <button>Employee unseen Assessments</button>
                <button>Employee seen Assessments</button>
                <button>Your Assessments</button>
                <button>Your marked assessments</button>
            </div>
        </div>
        <div class="col-sm-12">
            <app-user-done-assessments></app-user-done-assessments>
        </div>
    </div>
</div>