.gradient-custom-2 {
    /* fallback for old browsers */
    background: #dfd7d7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #a11e1e, #ac0c0f, #d81a1a, #fd3f3f);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #7a2721, #972325, #c21a1a, #fa0707);
    }
    
    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    
    }