<div class="justify-content-center">

    <form [formGroup]="questionForm" (ngSubmit)="getFormData()" class="mt-5">
  
      <div class="" formArrayName="questionList">
  
        <div *ngFor="let student of questionListArray().controls; let i = index">
  
          <div [formGroupName]="i" id="border" class=" my-2 p-3">
            <select
              class="custom-select mb-3"
              formControlName="attribute_name">
            <option value="">Choose An Attribute</option>
            <option *ngFor="let attr of potential_attributes" [ngValue]="attr">
              {{ attr }}
            </option>
          </select>
            <input type="text" id="addQuestion" placeholder="Add Question" formControlName="question_description"/>            
            <button type="button" 
            *ngIf="questionListArray().length > 1" 
            (click)="removeQuestion(i)" 
            class="btn btn-sm btn-danger text-white">
            <span class="material-icons white600">delete</span>
            </button>            
            <div [formGroup]="choicesFormGroup(i)">
  
              <div formArrayName="questionChoicesArray" class="row">
  
                <div *ngFor="let choicesub of choicesArray(i).controls; let j = index;">
  
                  <div [formGroupName]="j" class="">
                    <input type="text" class="choice" placeholder="Choice Name, eg choice 1" formControlName="choice_name" />
                    <input type="text" class="choice mx-3"  placeholder="Choice Value" formControlName="choice_value" />
                    <button type="button"
                     *ngIf="choicesArray(i).length > 1" 
                     (click)="removeNewChoice(i, j)" 
                     class="btn btn-sm btn-danger text-white">
                     <span class="material-icons white600">delete</span></button>
                  </div>
                
                </div>
  
              </div>
  
            </div>
  
            <button type="button" 
              (click)="addNewSubject(i)" 
              class="btn btn-sm btn-primary mt-2 d-flex align-items-center text-white">
              <span class="material-icons white600">add</span>
               Choice
            </button>
  
          </div>
  
        </div>
      </div>
      <button type="button" (click)="addQuestion()" 
        class="btn btn-sm btn-primary mt-2 mb-2 d-flex align-items-center text-white">
        <span class="material-icons">add</span>New Question</button>
      <button type="submit" class="btn btn-sm btn-success mt-4 ms-2 mb-5 text-white">Submit</button>
  
    </form>
  
  </div>