
<div class="sidebar-wrapper">
    <div class="logo">
      <a routerLink="dashboard" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/eq.png">
        </div>
      </a>
      <a routerLink="dashboard" style="color: rgb(163,42,41); font: 1.3em; font-weight: 800;" class="simple-text logo-normal">
        Talent&#64;equity
        <br>
      </a>
    </div>
      <ul class="nav">
          <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
              <a [routerLink]="[menuItem.path]">
                  <i class="nc-icon {{menuItem.icon}}" style="color: white;"></i>
                  <p style="color: white; font-weight: 500;">{{menuItem.title}}</p>
              </a>
          </li>
      </ul>
  </div>
  